body{
    background-color: rgb(215, 225, 230);
    padding: 0;
    margin: 0;
}
#group3{
    color: white;
    background-color: rgb(255, 190, 0);
    margin: 0;
}
#menu{
    background-color: rgb(255, 255, 255);
    padding: 3px;
}

#menu a{
    font-family: Work Sans;
    text-decoration: none;
    padding: 3px;
    color: rgb(45, 45, 135);
    background-color: none;
}
#menu a:hover{
    color: rgb(232, 237, 243);
    background-color: rgb(255, 60, 0);
}
h2{
    font-family: Bebas Neue;
    padding-left: 10px;
}
p{
    font-family: Work Sans;
    padding-left: 20px;
}